body {
  font-family: $font-family-sans-serif;
  background-color: $white;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $dark-grey;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  color: $logoblue;
}

h2 {
  font-size: 35px;
  line-height: 40px;
}

h3 {
  font-size: 29px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
}

.button, .btn {
  font-family: $font-family-sans-serif;
}

p {
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}

@media(max-width:1200px) {
  body {
    padding-top: 100px;
  }
}

.underline {
  text-decoration: underline;
}

.align-center {
  text-align: center;
}

.post p a,
.page p a,
.post table a,
.page table a,
.registration-banner a {
  text-decoration: underline;
}

a:link {
  color: $logoorange;
}

a:visited {
  color: $red;
}

a:hover {
  color: $red;
}

a:active {
  color: $red;
}

.display-inline {
  display: inline;
}

.float-left {
  float: left;
}

.border-none {
  border: none;
}

.balk {
  padding: 15px;
  color: $white;
  font-size: 35px;
  margin-bottom: 15px;
}

.bg-groen {
  background-color: $green;
}

.bg-geel {
  background-color: $yellow;
}

.bg-rood {
  background-color: $red;
}

.yellow-txt {
  color: $yellow;
}

.text-center {
  text-align: center;
}

.font-weight-normal {
  font-weight: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.tabbed-list {
    display:inline-block;
    width:100px;
}
