.footer {
  background-color: $light-grey;
  border-radius: 10px;
}

.hidden-xs .right-footer-image {
  color: #111111;
  margin-left: 2.2%;
  margin-right: 2.2%;
  width: 20%;
}

.visible-xs-block .right-footer-image {
  color: #111111;
  margin-left: 2.2%;
  margin-right: 2.2%;
  width: 20%;
}

.left-footer-list-padding {
  padding-right: 50px;
  text-align: right;
}

.left-footer-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.social {
  font-size: 30px;
  color: $dark-grey !important;
}

.hashtag-font-size {
  font-size: 26px;
  text-decoration: underline;
}

footer > .container {
  padding-bottom: 15px;
}
