.footer {
  background-color: $logoblue;
  border-radius: 0px;
}

.right-footer-image {
  color: #111111;
  margin-left: 2%;
  margin-right: 2%;
  width: 15%;
}

.left-footer-list-padding {
  padding-right: 50px;
  text-align: right;
}

.left-footer-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.social {
  font-size: 30px;
  color: $white !important;
}

.hashtag-font-size {
  font-size: 26px;
  text-decoration: underline;
}

footer > .container {
  padding-bottom: 15px;
}
