.left-footer-padding {
  padding-left: 5px;
  padding-right: 5px;
}

.left-footer-list-padding {
  padding-top: 25px;
}

.hidden-xs .right-footer-image {
  width: 24%;
}

.visible-xs-block .right-footer-image {
  width: 80%;
}

.hashtag-font-size {
  font-size: 1.4em;
}

footer > .container {
  padding-bottom: 15px;
}
