@media(max-width:992px) {
  .waar-wanneer {
    position: static;
    top: 0px;
    font-size: 46px;
    line-height: 50px;
  }
}

.info-text {
  background-color: $white;
  color: $white;
  padding-top: 25px;
  padding-left: 18px;
}

.centered {
    color: $white;
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 48px;
    padding-left: 182px;
    font-size: 46px;
    line-height: 50px;
    font-weight: bold;
}

.centered2 {
    color: $white;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 60px;
    padding-left: 182px;
    font-size: 30px;
    line-height: 50px;
}

.btn-registration {
  background-color: $dark-grey;
  font-size: 24px;
  border: solid $red 1px;
  border-radius: 10px;
  padding: 5px 30%;
  color: $dark-grey !important;

  &:hover {
    color: $light-grey !important;
  }
}

#inschrijven {
  font-size: 20px;
  border: 2px solid black;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: dark-grey !important;
  height: 30px !important;

  &:hover {
    color: grey !important;
  }
}

.frontpage-content-text {
  font-weight: 300;
  padding-bottom: 20px;
}

.news-datablog-archive a {
  font-family: $font-family-sans-serif;
}

.home .nieuwsberichten {
  background-color: $white;
  color: $dark-grey;
}

.home .datablogs {
  background-color: $white;
  color: $dark-grey;
}

.nieuwsberichtenplaatje {
    padding-top: 100px;
    padding-bottom: 25px;
    padding-right: 67px;
}

.introductiewelkomplaatje {
    padding-top: 100px;
    padding-bottom: 25px;
    padding-right: 67px;
}