.registration-banner {
  border: $border;
  font-size: 24px;
  font-family: $font-family-serif;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  a:link, a:visited {
    color: $black !important;
  }

  a:hover, a:active {
    color: $black !important;
  }

  &.hidden-xs {
    span {
      float: right !important;
    }
  }

  &.visible-xs-block {
    input {
      margin-top: 10px;
    }
  }
}

#inschrijven {
  font-size: 20px;
  border: 2px solid black;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: black !important;
  height: 30px !important;

  &:hover {
    color: grey !important;
  }
}

.frontpage-content-text {
  font-weight: 300;
  padding-bottom: 20px;
}

@media(max-width:767px) {
  h1 {
    font-size: 21px;
  }

  .frontpage-content-text {
    font-size: 18px;
  }

  h2 {
     font-size: 20px;
  }
}

.icon-size {
  font-size: 45px;
}

.frontpage-content-icons {
  padding-bottom: 20px;
}

.frontpage-content-link {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
}

.frontpage-content-link:link {
  color: inherit;
}

.frontpage-content-link:visited {
  color: inherit;
}

.frontpage-content-link:hover {
  opacity: 0.5;
  color: inherit;
}

.frontpage-content-link:active {
  opacity: 0.7;
  color: inherit;
}

.news-datablog-archive a {
  font-family: $font-family-serif;
}
