.home .post-overview .category-news {
  border: $border-white;
  padding: 0 15px 0 15px;
  margin: 10px;

  h3, h4 {
    color: $black;
  }
}

.post-overview .category-news {
  border: $border-light-blue;
  padding: 0 15px 0 15px;
  margin: 10px;

  h3, h4 {
    color: $black;
  }
}

.post-overview .category-datablog {
  border: $border;
  padding: 0 15px 0 15px;
  margin: 10px;

  h3, h4 {
    color: $black;
  }
}

.post-type {
  display: inline-block;
  color: $black;
  padding: 0 10px;
  margin-right: 10px;
}

.post p, .page p {
  padding-bottom: 20px;
}

.entry-title a:link {
  color: inherit;
  font-weight: bold;
}

.entry-title a:visited {
  color: inherit;
  font-weight: bold;
}

.entry-title a:hover {
  opacity: 0.5;
  color: inherit;
  font-weight: bold;
}

.entry-title a:active {
  opacity: 0.7;
  color: inherit;
  font-weight: bold;
}

.moretag {
  color: $black !important;
}

.news-datablog-archive {
  a:link, a:visited, a:hover, a:active {
    color: $black;
  }
}
