.post-overview {
  padding: 0 15px 0 15px;
  margin: 10px;

  h3, h4 {
    color: $black;
  }
}

.post-header {
  padding-left: 50px;
}

.archive article {
  padding-top: 15px;
  padding-left: 52px;
}

.post-type {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
}

.post p, .page p {
  padding-bottom: 20px;
}

.entry-title a:link {
  color: inherit;
  font-weight: bold;
}

.entry-title a:visited {
  color: inherit;
  font-weight: bold;
}

.entry-title a:hover {
  opacity: 0.5;
  color: inherit;
  font-weight: bold;
}

.entry-title a:active {
  opacity: 0.7;
  color: inherit;
  font-weight: bold;
}

.news-datablog-archive {
  padding-right: 10px;
  a:link, a:visited, a:hover, a:active {
  }
}
